* {
   text-align: justify;
}
body {
   background: -webkit-linear-gradient(#00111c, #002945, #003a61);
   padding: 4px;
   margin-bottom: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
   text-align: center;
   text-shadow: black 4px 4px;
   color: aliceblue;
}
p.intro {
   border: #491807 10px solid;
   border-radius: 25px;
   margin-left: 25%;
   margin-right: 25%;
   padding: 15px;
   background-color: #8cb369;
   color: black;
}
p.estilo-1 {
   border: #001524 10px solid;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   margin-right: 50%;
   padding: 15px;
   background-color: #ffecd1;
}
p.estilo-2 {
   border: #30074b 10px solid;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
   margin-left: 50%;
   padding: 15px;
   background-color: #ea698b;
}
p.estilo-3 {
   border: #2b3a39 10px solid;
   border-radius: 25px;
   margin-left: 25%;
   margin-right: 25%;
   padding: 15px;
   background-color: #f9f9f9;
}

p.pie {
   position: fixed;
   bottom: 0;
   left: 0;
   clear: both;
   width: 100%;
   margin: 0;
   padding: 0.25em;
   border-top: #001219;
   background-color: #00406c;
   text-align: center;
   font-size: 0.8rem;
   color: aliceblue;
}
a {
   color: aliceblue;
}