@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
   margin: 0;
}
body {
   background-color: #ede0d4;
   font-family: 'Playball', cursive;
   font-size: 1.5rem;
   text-align: justify;
}
header{
   background-color: #7f5539;
   color:white
}
h1 {
   font-size: 2.2rem;
   letter-spacing: .2rem;
   padding: 15px 15px 25px;
}
main {
   display: block;
   margin: 0 5%;
   padding: 0 5%;
   border-left: #9c6644 4px solid;
   border-right: #9c6644 4px solid;
}
article {
   clear: both;
}
article.siglo {
   margin: 40px 10px;
   padding-bottom: 20px;
   background-color: #e6ccb2;
}
h2, h3 {
   padding: 0 15px;
   background-color: #9c6644;
   color: white;
}
article article {
   overflow: auto;
   margin: 30px 8%;
   background-color: #ddb892;
   padding-bottom: 20px;
}
article article p {
   padding-left: 30px;
   padding-right: 30px;
}
aside {
   float: right;
   border-left: #9c6644 4px solid;
   margin: 10px 0 10px 30px;
   padding: 10px 20px;
}
aside p {
   margin: 0;
   padding: 0;
   text-align: center;
}
footer {
   background-color: #7f5539;
   color:white
}
footer p {
   margin: 0;
   padding: 5px;
 }